<html>
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>{{ .Title }}</h1>

    <form method = "POST">
        {{ range $index, $value := .Input }}
            <h4>{{ . }}</h4>
            <input type = "text" name = "{{ . }}"></input>
        {{end}}
        <br></br>

        {{ range $index, $value := .Operate }}
        <input type = "submit" id = "{{ . }}" value = "{{ . }}" name = "btn"></input>
        {{end}}
    </form>

    <div style="width: 650px;">
    <div style="display: inline-block;">
        <table style="width: 300; border:3px #cccccc solid; padding:5px; text-align: center;" rules="all" cellpadding='5';>
        <tr>
        {{ range $index, $value := .Input }}
            <td>{{ . }}</td>
        {{end}}
        </tr>
        {{ range $item := .List }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Age }}</td>
        </tr>
        {{end}}
        </table>
    </div>
    <div style="display: inline-block; float: right;">
        <table style="width: 300; border:3px #cccccc solid; padding:5px; text-align: center;" rules="all" cellpadding='5';>
        <tr>
        {{ range $index, $value := .Input }}
            <td>{{ . }}</td>
        {{end}}
        </tr>
        <!-- input other data-->
        </table>
    </div>
</div>
</body>
</html>